div(class="text-container")
    div(id="pack-name-header" class="text") Название пака: #{packObj.name}
div(class="text-container")
    div(class="text" id="description-on-page") Описание пака: #{packObj.description}
    <svg class="edit-svg" id="edit-description" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 128" version="1.1">
    <g id="surface761807">
    <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 96.195312 6.90625 C 94.125 6.90625 92.054688 7.65625 90.539062 9.171875 L 82.0625 17.65625 C 80.5 16.09375 77.960938 16.09375 76.40625 17.65625 L 65.09375 28.96875 C 64.335938 29.726562 63.914062 30.734375 63.914062 31.804688 C 63.914062 32.867188 64.335938 33.875 65.09375 34.625 L 65.1875 34.726562 L 11.03125 88.796875 C 10.023438 89.804688 9.414062 91.140625 9.296875 92.5625 L 7.945312 109.351562 L 6.539062 119.195312 C 6.445312 119.820312 6.65625 120.445312 7.109375 120.898438 C 7.484375 121.273438 7.992188 121.476562 8.515625 121.476562 C 8.617188 121.476562 8.710938 121.476562 8.804688 121.460938 L 18.640625 120.0625 L 35.53125 118.8125 C 36.96875 118.710938 38.3125 118.09375 39.328125 117.078125 L 93.484375 63 C 94.226562 63.695312 95.179688 64.085938 96.203125 64.085938 C 97.273438 64.085938 98.273438 63.671875 99.03125 62.914062 L 110.34375 51.601562 C 111.90625 50.039062 111.90625 47.507812 110.34375 45.945312 L 118.835938 37.460938 C 120.34375 35.945312 121.171875 33.9375 121.171875 31.796875 C 121.171875 29.664062 120.34375 27.648438 118.828125 26.140625 L 101.859375 9.171875 C 100.351562 7.65625 98.273438 6.90625 96.195312 6.90625 Z M 96.195312 10.867188 C 97.234375 10.867188 98.273438 11.242188 99.03125 12 L 116 28.96875 C 116.757812 29.726562 117.171875 30.726562 117.171875 31.796875 C 117.171875 32.867188 116.757812 33.875 116 34.625 L 107.515625 43.117188 L 84.882812 20.484375 L 93.375 12 C 94.125 11.242188 95.164062 10.867188 96.195312 10.867188 Z M 79.226562 20.484375 L 80.648438 21.898438 L 106.101562 47.351562 L 107.515625 48.773438 L 104.6875 51.59375 C 103.90625 50.8125 102.640625 50.8125 101.859375 51.59375 L 99.03125 54.429688 C 98.25 55.210938 98.25 56.476562 99.03125 57.257812 L 96.203125 60.085938 L 67.914062 31.796875 L 70.742188 28.96875 C 71.132812 29.359375 71.640625 29.554688 72.15625 29.554688 C 72.671875 29.554688 73.179688 29.359375 73.570312 28.96875 L 76.40625 26.140625 C 77.1875 25.359375 77.1875 24.09375 76.40625 23.3125 Z M 82.0625 29.796875 C 81.546875 29.796875 81.039062 29.992188 80.648438 30.382812 L 77.8125 33.210938 C 77.03125 33.992188 77.03125 35.257812 77.8125 36.039062 C 78.203125 36.429688 78.71875 36.625 79.226562 36.625 C 79.742188 36.625 80.257812 36.429688 80.648438 36.039062 L 83.46875 33.210938 C 84.257812 32.429688 84.257812 31.164062 83.46875 30.382812 C 83.078125 29.992188 82.570312 29.796875 82.0625 29.796875 Z M 89.125 36.875 C 88.617188 36.875 88.109375 37.0625 87.71875 37.460938 L 84.882812 40.28125 C 84.101562 41.070312 84.101562 42.328125 84.882812 43.117188 C 85.273438 43.5 85.789062 43.695312 86.304688 43.695312 C 86.8125 43.695312 87.328125 43.5 87.71875 43.117188 L 90.539062 40.28125 C 91.328125 39.5 91.328125 38.242188 90.539062 37.460938 C 90.148438 37.0625 89.640625 36.875 89.125 36.875 Z M 68.023438 37.554688 L 90.648438 60.1875 L 38.054688 112.695312 L 36.148438 103.164062 L 69.328125 69.984375 C 70.109375 69.203125 70.109375 67.9375 69.328125 67.15625 C 68.546875 66.375 67.289062 66.375 66.5 67.15625 L 33.3125 100.34375 L 28.601562 99.398438 L 27.65625 94.679688 L 55.1875 67.15625 C 55.976562 66.367188 55.976562 65.109375 55.1875 64.320312 C 54.40625 63.539062 53.148438 63.539062 52.367188 64.320312 L 24.835938 91.851562 L 15.507812 89.992188 Z M 96.203125 43.9375 C 95.6875 43.9375 95.179688 44.132812 94.789062 44.53125 L 91.960938 47.351562 C 91.179688 48.140625 91.179688 49.398438 91.960938 50.1875 C 92.351562 50.570312 92.859375 50.773438 93.375 50.773438 C 93.890625 50.773438 94.398438 50.570312 94.789062 50.1875 L 97.617188 47.351562 C 98.398438 46.570312 98.398438 45.3125 97.617188 44.53125 C 97.226562 44.132812 96.71875 43.9375 96.203125 43.9375 Z M 65.09375 52.429688 C 64.578125 52.429688 64.070312 52.625 63.679688 53.007812 L 58.023438 58.664062 C 57.234375 59.453125 57.234375 60.710938 58.023438 61.5 C 58.40625 61.882812 58.921875 62.085938 59.4375 62.085938 C 59.945312 62.085938 60.460938 61.882812 60.84375 61.5 L 66.5 55.84375 C 67.289062 55.054688 67.289062 53.796875 66.5 53.007812 C 66.109375 52.617188 65.601562 52.421875 65.09375 52.429688 Z M 13.21875 93.609375 L 23.789062 95.71875 L 24.9375 101.492188 C 25.101562 102.28125 25.71875 102.898438 26.507812 103.054688 L 32.273438 104.210938 L 34.40625 114.882812 L 19.1875 116 L 12 108.820312 Z M 13.21875 93.609375 "/>
    </g>
    </svg>
div(class="text-container")
    span(class="error-annotation" id="error_invalid_pack") Нет изменений для сохранения 

mixin cell(_id, theme)
    - const cost = (_id + 1) * 100;
    - const modifyId = "" + theme + _id;
    div(class="question-container__cost" id=modifyId) #{cost}

mixin line(theme_id, theme_name)
    div(class="question-container__line" id=theme_id)
        div(class="question-container__theme-hover") #{theme_name}
        +cell(0, theme_name)
        +cell(1, theme_name)   
        +cell(2, theme_name)
        +cell(3, theme_name)
        +cell(4, theme_name)

div(class="question-container")
    each theme, index in [packObj.pack[0].name, packObj.pack[1].name, packObj.pack[2].name, packObj.pack[3].name, packObj.pack[4].name]
        +line(theme, theme)

div(class="flex-container-centered-content")
    <svg class="help__question-img" aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" class="svg-inline--fa fa-question-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path></svg>
    div(class="text-help") Для изменения темы или вопроса нажмите на ячейку

form(class="form")
    button(type="submit", id="save-pack") Сохранить изменения

div(class="popup" id="popup-question")
    div(class="popup__content-question " id="popup_content")
        div(class="popup-elem-top") Введите вопрос
        div(class="popup-elem-without-border" id="theme") Тема
        div(class="popup-elem-without-border" id="cost")
        div(class="popup-elem-top")
            textarea(class="textarea-question" id="input-question" maxlength="165")
        div(class="popup-elem-without-border") Ответ
        div(class="popup-elem-bottom")
            textarea(class="textarea-answer" id="input-answer" maxlength="33")
        div(class="popup-elem-bottom")
            div(class="popup-button" id="cansel-question") Отмена
            div(class="popup-button" id="save-question") Сохранить

div(class="popup" id="popup-theme")
    div(class="popup__content-theme" id="popup_content")
        div(class="popup-elem-top") Введите тему
        div(class="popup-elem-bottom")
            textarea(class="textarea-answer" id="input-theme" maxlength="33")
        div(class="popup-elem-bottom")
            div(class="popup-button" id="cansel-theme") Отмена
            div(class="popup-button" id="save-theme") Сохранить

div(class="popup" id="popup-description")
    div(class="popup__content-theme" id="popup_content")
        div(class="popup-elem-top") Введите описание
        div(class="popup-elem-bottom")
            textarea(class="textarea-answer" id="input-description" maxlength="33")
        div(class="popup-elem-bottom")
            div(class="popup-button" id="cansel-description") Отмена
            div(class="popup-button" id="save-description") Сохранить

div(class="popup " id="popup-final")
    div(class="popup__content " id="popup_content")
        div(class="popup-elem-top" id="popup-final-text") Изменения успешно сохранены!
        div(class="popup-elem-bottom")
            div(class="popup-button" id="ok") Ок