div(class="chat-bar" id="chat_bar")
    img(src=chatUrl class="chat-icon" id="chat_icon")
div(class="help__help-bar" id="help_bar")
    img(src=infoLogo id="info_logo" class="help__svg")
nav(class="navbar")
    div(class="grid-navbar-left")
        div(class="flex-container")
            img(src=exitUrl class="navbar__back-img" id="back")
            a(class="navbar__navigation-text ", id="navigation", href="#")
    div(class="navbar__game-logo-container")
        div(class="flex-container-centered-content")
            img(src=mainLogo class="navbar__game-logo" id="nav_logo")
            //a(class="navbar__game-logo", id="nav_logo", href="#") Своя игра
    if authorized == false
        div(class="grid-navbar-right")
            div(class="flex-navbar-right")
                a(class="navbar__right-panel", id='nav_registration', href="#") Регистрация
                a(class="navbar__right-panel", id="nav_login", href="#") Вход
    else
        div(class="grid-navbar-right")
            div(class="flex-navbar-right-always-row")
                a(id="nav_profile", href="#" class= "navbar__user-logo-container")
                a(class="navbar__right-panel", id="nav_exit", href="#") Выход

div(class="help-container" id="help_container")
    div
        img(class="exit-window", id="exit_help",
        src=closeIсon
        alt="help-exit")

    div(class="info-text-help" id="text_help")
        div(class="help-text-container") 
            div(class="help-text-header") Как играть в онлайн-викторину «Svoyak»?
        div(class="help-text-container")
            div(class="help-text") I. ТРЕНИРОВКА <br>
            div(class="help-text") В этом разделе вы можете поиграть в одиночную игру с таймером <br>
            div(class="help-text") Выбирайте вопросы из игрового табло и отвечайте на них <br>
        div(class="help-text-container")
            p(class="help-text") II. МУЛЬТИПЛЕЕР <br>
            p(class="help-text") Дня начала игры создайте игровую комнату или присоединитесь к существующей <br>
            p(class="help-text") Игра начнется, когда все игроки в комнате нажмут кнопку "Готов" <br>
        div(class="help-text-container")
            p(class="help-text") III. ПАКИ
            p(class="help-text") В этом разделе вы можете создать собственные темы и вопросы <br>
            p(class="help-text") После создания пак станет доступен при создании комнаты и в разделе "Тренировка" <br>
