div(class="chat-bar" id="chat_bar")
    img(src=chatUrl class="chat-icon" id="chat_icon")
div(class="help__help-bar" id="help_bar")
    img(src=infoLogo id="info_logo" class="help__svg")
nav(class="navbar")
    div(class="grid-navbar-left")
        div(class="flex-container")
            img(src=exitUrl class="navbar__back-img" id="back")
            a(class="navbar__navigation-text ", id="navigation", href="#")
    div(class="navbar__game-logo-container")
        div(class="flex-container-centered-content")
            a(class="navbar__game-logo", id="nav_logo", href="#") Своя игра
    if authorized == false
        div(class="grid-navbar-right")
            div(class="flex-navbar-right")
                a(class="navbar__right-panel", id='nav_registration', href="#") Регистрация
                a(class="navbar__right-panel", id="nav_login", href="#") Вход
    else
        div(class="grid-navbar-right")
            div(class="flex-navbar-right-always-row")
                a(id="nav_profile", href="#" class= "navbar__user-logo-container")
                a(class="navbar__right-panel", id="nav_exit", href="#") Выход

div(class="help-container" id="help_container")
    div
        img(class="exit-window", id="exit_help",
        src=closeIсon
        alt="help-exit")

    div(class="info-text-help" id="text_help")
        //- div(class="help-header") Правила игры
        p(class="help-text") Добро пожаловать в онлайн-викторину «Swoyak»! <br> 
        p Выбирайте вопросы из игрового табло и отвечайте на них.<br>
        p В игре присутствует таймер.<br>
        p В этом разделе вы можете поиграть в одиночную игру с таймером  
        //- div(class="faq-text")
        //-     div(class="line") Добро пожаловать в онлайн-викторину «Swoyak»!
        //-     div(class="line") КАК ИГРАТЬ
        //-     div(class="line") Выбирайте вопросы из игрового табло и отвечайте на них.
        //-     div(class="line") В игре присутствует таймер.
        //-     div(class="line") Игра заканчивается, когда все вопросы выбраны.  
        //-     div(class="line") ТРЕНИРОВКА
        //-     div(class="line") В этом разделе вы можете поиграть в одиночную игру с таймером
        //-     div(class="line") КОМНАТЫ
        //-     div(class="line") Играйте с друзьями и создавайте индивидуальные тематические комнаты.
        //-     div(class="line") ПАКИ
        //-     div(class="line") В этом разделе вы можете создать собственные темы и вопросы.
