mixin cell(_id, theme)
    - const cost = _id * 100;
    - const modifyId = "" + theme + _id;
    div(class="question-container__cost" id=modifyId) #{cost}

mixin line(theme_id, theme_name)
    div(class="question-container__line" id=theme_id)
        div(class="question-container__theme") #{theme_name}
        +cell(1, theme_name)
        +cell(2, theme_name)   
        +cell(3, theme_name)
        +cell(4, theme_name)
        +cell(5, theme_name)

if state.mode == "selected"
    div(id="progress-bar" class="progress-bar-hidden")
        div(id="dynamic-bar" class="dynamic-bar")
    div(class="question-container")
        div(class="question-container__question")
            div() #{state.question.text}
else
    div(id="progress-bar" class="progress-bar-hidden")
        div(id="dynamic-bar" class="dynamic-bar")
    div(class="question-container" id=state.packId)
        +line("Марки", "Марки")
        +line("Дувейн Скола Жонсан", "Дувейн Скола Жонсан")
        +line("Об Обэме", "Об Обэме")
        +line("Случай в казино", "Случай в казино")
        +line("Кто я", "Кто я")
