mixin cell(_id, theme)
    - const cost = (_id + 1) * 100;
    - const modifyId = "" + theme + _id;
    div(class="question-container__cost" id=modifyId) #{cost}

mixin line(theme_id, theme_name)
    div(class="question-container__line" id=theme_id)
        div(class="question-container__theme") #{theme_name}
        +cell(0, theme_name)
        +cell(1, theme_name)   
        +cell(2, theme_name)
        +cell(3, theme_name)
        +cell(4, theme_name)

if state.mode == "selected"
    div(id="progress-bar" class="progress-bar-hidden")
        div(id="dynamic-bar" class="dynamic-bar")
    div(class="question-container")
        div(class="question-container__question")
            div() #{state.question.text}
else if state.mode == "default"
    div(id="progress-bar" class="progress-bar-hidden")
        div(id="dynamic-bar" class="dynamic-bar")
    div(class="question-container" id=state.packId)
        each theme, index in state.themes
            +line(theme, theme)
else if state.mode == "result"
    div(id="progress-bar" class="progress-bar-hidden")
        div(id="dynamic-bar" class="dynamic-bar")
    div(class="question-container")
        if state.result === true
            div(class="question-container__result_true")
                div() Правильно! Вы заработали #{state.currentQuestionScore} Очков
        else
            div(class="question-container__result_false") Неправильный ответ! 
                div() Неверно!     Правильный ответ: "#{state.question.answer}".    Вы потеряли #{state.currentQuestionScore} Очков


