mixin bottom_info(button_text, button_id)
    div(class="tab__create-room-btn-container")
        div(class="tab__create-room-btn" id=button_id) #{button_text}

mixin paginator(pag_id, amount)
    div(class="paginator-panel" id=pag_id)
        div(class="pg-elem" id="prev")
            div(class="pg-button") Prev
        div(class="pg-elem" id="page")
            -for (let i = 0; i < amount; i++) {
                div(class="pg-button" id=i) #{i + 1}
            -}
        div(class="pg-elem" id="next")
            div(class="pg-button") Next

div(id="max_order" maxOrder="4")
div(class="main-container")
    div(class="tab", id=window.id.tabRoom, order="1") Комнаты
    div(class="tab", id=window.id.tabTop, order="2") Зал славы
    div(class="tab", id=window.id.tabOffline, order="3") Тренировка
    div(class="tab", id=window.id.tabPack, order="4") Паки

    if templateContent.contentType == window.id.tabRoom
        if (templateContent.content.length)
            div(class="fadeout-container")
                div(class="fadeout")
            div(class="tab-content")
                div(id="online_mode")
                if (templateContent.lastState == "game")
                    div(class="rooms-panel-resume")
                        div(class="panel-elem elem-justify-start") У вас есть незакончатая игра!
                        div(class="panel-elem" id="resume_panel")
                            div(class="join-button button-in-list" id="leave" room_id=templateContent.resume) Покинуть
                        div(class="panel-elem" id="resume_panel")
                            div(class="join-button button-in-list" id="resume" room_id=templateContent.resume) Продолжить
                div(class="rooms-panel")
                    div(class="panel-elem elem-justify-start") Название
                    div(class="panel-elem") Пак
                    div(class="panel-elem") Количество
                    div(class="panel-elem")
                each room, index in templateContent.content
                    div(class="rooms-panel")
                        div(class="panel-elem elem-justify-start") #{room.name}
                        div(class="panel-elem") #{room.packName}
                        div(class="panel-elem") #{room.playersJoined + "/" + room.playersCapacity}
                        div(class="panel-elem" id=room.UUID)
                            div(class="join-button button-in-list" id="play" join_id=room.UUID) Присоединиться
                +paginator("room-paginator", 5)
        else if (templateContent.connection === true)
            div(class="tab-content")
                if (templateContent.lastState == "game")
                    div(class="rooms-panel-resume")
                        div(class="panel-elem elem-justify-start") У вас есть незакончатая игра!
                        div(class="panel-elem" id="resume_panel")
                            div(class="join-button button-in-list" id="leave" room_id=templateContent.resume) Покинуть
                        div(class="panel-elem" id="resume_panel")
                            div(class="join-button button-in-list" id="resume" room_id=templateContent.resume) Продолжить
                div(class="empty-tab-info") Ни одной комнаты еще не было создано, создайте свою!
        div(class="popup" id="popup")
            div(class="popup__content")
                div(class="popup-elem-top" id="popup-elem-top") Для мультиплеера необходимо авторизоваться.
                div(class="popup-elem-bottom")
                    div(class="popup-button" id="cansel") Отмена
                    div(class="popup-button" id="continue") Авторизоваться  

        if (templateContent.connection === true)
            div(class="tab__create-room-btn-container")
                div(class="tab__create-room-btn" id="create-room-button") Создать комнату
        else
            +bottom_info(
                "Играть offline",
                "join_offline_btn")


    else if templateContent.contentType == window.id.tabTop
        if (templateContent.content.length)
            div(class="fadeout-container")
                div(class="fadeout")
            div(class="tab-content")
                div(class="best-players-panel")
                    div(class="panel-elem")
                    div(class="panel-elem panel-elem-left") Имя
                    div(class="panel-elem") Рейтинг
                    div(class="panel-elem") Звание
                each val, index in templateContent.content
                    div(class="best-players-panel")
                        div(class="panel-elem")
                            img(class="best-avatar",
                            src = val.avatar_url,
                            alt="No exist")
                        div(class="panel-elem panel-elem-left") #{val.username}
                        div(class="panel-elem") #{val.rating}
                        div(class="panel-elem")
                            img(class="rank-avatar",
                            src = val.rank.file,
                            alt="No exist")
                            div(class="rank-text") #{val.rank.name}
                +paginator("top-paginator", 5)
        else if (templateContent.connection === true)
            div(class="tab-content")
                div(class="empty-tab-info") Список игроков пуст!
        if (templateContent.connection === false)
            +bottom_info(
                "Играть offline",
                "join_offline_btn")

    else if templateContent.contentType == window.id.tabOffline
        div(class="tab-content")
            div(id="offline_mode")
            div(class="offline-panel")
                div(class="panel-elem") Название
                div(class="panel-elem") Автор
                div(class="panel-elem") Рейтинг
                div(class="panel-elem") 

            div(class="popup " id="popup")
                div(class="popup__content " id="popup_content")
                    div(class="popup-elem-normal" id="popup-elem-top") Вы переходите в offline игру, очки начислены не будут
                    div(class="popup-elem-bottom ")
                        div(class="popup-button" id="cansel") Отмена
                        div(class="popup-button" id="continue") Продолжить
                            
            each pack, index in templateContent.content
                div(class="offline-panel")
                    div(class="panel-elem") #{pack.name}
                    div(class="panel-elem") #{pack.author}
                    div(class="panel-elem") #{pack.rating}
                    div(class="panel-elem")
                        div(class="join-button button-in-list" id="play" join_id=pack.id) Играть

    else if templateContent.contentType == window.id.tabPack
        if (templateContent.content.length)
            div(class="tab-content")
                div(id="offline_mode")
                div(class="offline-panel")
                    div(class="panel-elem") Название:
                    div(class="panel-elem") Рейтинг:
                    div(class="panel-elem") 
                    div(class="panel-elem")

                each pack, index in templateContent.content
                    div(class="offline-panel")
                        div(class="panel-elem") #{pack.name}
                        div(class="panel-elem") #{pack.rating}
                        div(class="panel-elem")
                            div(class="button-in-list create" id="create" pack_id=pack.id) Изменить
                        div(class="panel-elem")
                            div(class="button-in-list delete" id="delete" pack_id=pack.id) Удалить
                +paginator("pack-paginator", 5)
                            
        else if (templateContent.connection === true)
            div(class="tab-content")
                div(class="empty-tab-info") Создавайте свои паки и играйте с друзьями!    
                div(class="button-container-create-pack")
                    div(class="create-pack-button" id="create-pack-button") Создать пак
        if (templateContent.connection === false)
            +bottom_info(
                "Играть offline",
                "join_offline_btn")

        div(class="popup " id="popup")
            div(class="popup__content " id="popup_content")
                div(class="popup-elem-normal" id="popup-elem-top") Для создания пака необходимо авторизоваться
                div(class="popup-elem-bottom ")
                    div(class="popup-button" id="cansel") Отмена
                    div(class="popup-button" id="login") Продолжить
          


