div(class="popup " id="leave-popup")
    div(class="popup__content " id="popup_content")
        div(class="popup-elem-normal" id="popup-elem-top") Вы уверены что хотите выйти?
        div(class="popup-elem-bottom ")
            div(class="popup-button" id="continue") Покинуть
            div(class="popup-button" id="cancel") Отмена

div(class="user-panel-grid-container")
    div(class="user-panel-container")
        each player, index in players
            div(class="waiting-player-game" order=index id=player.id)
                img(class="player-avatar-game",
                    src=player.avatar,
                    name="avatar",
                    alt="User")
                div(class="panel-text" name="username") #{player.username}
                div(class="users-panel__score", id="capitan-ready") 5000
    div(class="users-panel__leave")
        img(class="users-panel__leave-img",
        id="leave_logo",
        src=leaveLogo,
        alt="User")