div(class="popup " id="leave-popup")
    div(class="popup__content " id="popup_content")
        div(class="popup-elem-normal" id="popup-elem-top") Вы уверены что хотите выйти?
        div(class="popup-elem-bottom ")
            div(class="popup-button" id="continue") Покинуть
            div(class="popup-button" id="cancel") Отмена

div(class="panel-text" id="room-name") Комната: #{roomName}
div(class="panel-text") #{userName}, ожидайте других игроков!
div(class="user-panel-grid-container")
    div(class="user-panel-container")
        each player, index in players
            div(class="waiting-player" order=index id=player.id)
                div(class="users-panel__icon")
                div(class="player-avatar")
                    div(class="logo-div")
                        img(class="game-panel__user-logo",
                        src=player.avatar,
                        name="avatar",
                        alt="User")
                    div(class="users_panel__text" name="username") #{player.username}
                div(class="users-panel__ready-indicator users-panel__ready-indicator__false", id="capitan-ready")
    div(class="users-panel__leave")
        img(class="users-panel__leave-img",
        id="leave_logo",
        src=leaveLogo,
        alt="User")
div(class="button-ready" id="button-ready") Готов