div(class="tab-content")
    div(class="best-players-panel")
        div(class="panel-elem")
            img(class="best-avatar",
            src="https://www.pnglot.com/pngfile/detail/493-4930333_user-icon-my-profile-icon-png.png",
            alt="No exist")
        div(class="panel-elem") Имя:
        div(class="panel-elem") Рейтинг:
        div(class="panel-elem") Звание:
    each val, index in templateContent
        div(class="best-players-panel")
            div(class="panel-elem")
                img(class="best-avatar",
                src = val.src,
                alt="No exist")
            div(class="panel-elem") #{val.name}
            div(class="panel-elem") #{val.rate.value}
            div(class="panel-elem")
                div(class="rank-text") #{val.rate.description}
                img(class="rank-avatar",
                src = val.rate.src,
                alt="No exist")